body {
  font-family: franklin-gothic-urw-cond, sans-serif;
    color: #ffffff;
    background-color: #042E30;
  }
  
  h1, h2 {
    color: #66D210 /* Green color for headings */
  }
  
  p {
    line-height: 1.6;
  }

  .navbar-custom {
    background-color: #011111; /* Change this hex code to any color you prefer */
}

  
  a, a:hover {
    color: #FFA614; /* Orange accent for links */
    text-decoration: none;
  }
  
  #gallery img {
    max-width: 200px;
    height: 200px;
    margin: 10px 0;
    border: 10px solid #FFA614; /* Orange border for images */
    border-radius: 5px;
  }

  #gallery {
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;*/
    background-color: #011111;
  }
  
  .embed-responsive-16by9 {
    margin: 20px 0;
  }

  .responsive-iframe{
    width: 320px;
    height: auto;
  }
  
 
#tableau{
  background-color: #011111;
}